;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Oct 15 03:28:29 2008
;; Desktop file format version 206
;; Emacs version 22.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "g:/stitch/writetif2/Wtifc.hs"
  "Wtifc.hs"
  'haskell-mode
  '(haskell-doc-mode haskell-indent-mode)
  104
  '(1239 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "g:/stitch/writetif2/src/dllMain.c"
  "dllMain.c"
  'c-mode
  '(abbrev-mode)
  1688
  '(1688 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "g:/stitch/tags/xtif_dir.c"
  "xtif_dir.c"
  'c-mode
  '(abbrev-mode)
  7810
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "g:/stitch/tags/listtif.c"
  "listtif.c"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "tags"
  'dired-mode
  nil
  257
  '(nil nil)
  t
  '("g:/stitch/tags/")
  nil)

(desktop-create-buffer 206
  "c:/GnuWin32/src/tiff-win32-3.6.1-2-src.zip:src/tiff/3.6.1/tiff-3.6.1-win32/contrib/tags/maketif.c"
  "maketif.c (tiff-win32-3.6.1-2-src.zip)"
  'c-mode
  '(abbrev-mode)
  244
  '(316 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "include"
  'dired-mode
  nil
  405
  '(nil nil)
  t
  '("c:/GnuWin32/include/")
  nil)

(desktop-create-buffer 206
  "c:/GnuWin32/src/tiff-win32-3.6.1-2-src.zip:src/tiff/3.6.1/tiff-3.6.1-win32/contrib/tags/xtiffio.h"
  "xtiffio.h (tiff-win32-3.6.1-2-src.zip)"
  'c-mode
  '(abbrev-mode)
  360
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "c:/GnuWin32/src/tiff-win32-3.6.1-2-src.zip:src/tiff/3.6.1/tiff-3.6.1-win32/contrib/tags/xtiffiop.h"
  "xtiffiop.h (tiff-win32-3.6.1-2-src.zip)"
  'c-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "c:/GnuWin32/src/tiff-win32-3.6.1-2-src.zip"
  "tiff-win32-3.6.1-2-src.zip"
  'archive-mode
  nil
  7852
  '(7549 nil)
  t
  nil
  '((buffer-file-coding-system . no-conversion)))

(desktop-create-buffer 206
  nil
  "src"
  'dired-mode
  nil
  261
  '(nil nil)
  t
  '("c:/GnuWin32/src/")
  nil)

(desktop-create-buffer 206
  "g:/.emacs"
  ".emacs"
  'emacs-lisp-mode
  nil
  15012
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8-unix)))

